.main {
    background-color: #181030;
    color: #fff;
}

.stats_content {
    display: grid;
    grid-template-columns: 1fr 20%;
    gap: 10px;
    height: 350px;
    margin-bottom: 20px;
}

.regions_content {
    display: flex;
    gap: 10px;
}

.region_stat {
    background-color: #030018;
    width: 100%;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.stat {
    background-color: #030018;
    width: 100%;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stat_container {
    width: 100%;
}

.stat span {
    font-size: 16px;
}

.stat h3 {
    font-size: 45px;
    font-weight: normal;
    text-align: center;
}

.container_scroll {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 500px;
    overflow-y: scroll;
}

.container_scroll span {
    cursor: pointer;
    transition: .3s;
    padding: 5px;
}

.container_scroll span:hover {
    background-color: #8e44ad;
}

.container_scroll::-webkit-scrollbar {
    width: 8px;
}
  
.container_scroll::-webkit-scrollbar-track {
    background: #d28eec;
    border-radius: 10px;
}

.container_scroll::-webkit-scrollbar-thumb {
    background: #cf4aff;
    border-radius: 10px;
}

.container_scroll::-webkit-scrollbar-thumb:hover {
    background: #8e44ad;
}