.my-links {
    background: rgb(17, 20, 24);
    background: linear-gradient(180deg, rgba(17, 20, 24, 1) 7%, rgba(173, 0, 255, 1) 100%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.my-links .my-links-container {
    max-width: 500px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
}

.my-links .my-links-container .fixed-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}

.title-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 135px;
    height: 135px;
    border-radius: 50%;
    margin-bottom: 12px;
}

.instagram-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 4px;
    color: white;
}

.description {
    max-width: 300px;
    font-size: 1.1rem;
    text-align: center;
}

.content-tab {
    display: flex;
    width: 100%;
}

.redirect-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin-top: 15px;
}

.tab-selector {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.technology {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.technology h1 {
    font-size: 1rem;
    margin-bottom: 12px;
    width: 100%;
}

.tec-list {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin-bottom: 12px;
}

@media (max-width: 800px) {
    .my-links .my-links-container {
        overflow: auto;
    }
}
